<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Sales Manager - FAQ</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Sales Manager</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="gettingstarted">Getting Started</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="run">Run</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="status">My Status</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="documentation">Documentation</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="faq">FAQ</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="contact">Contact Us</a>
                </div>
            </div>
            <!-- Page content wrapper-->

            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <form action="/index">
                        <button class="btn btn-primary" id="sidebarToggle" href="/index">Main</button></form>


                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4">Frequently Asked Questions</h1>
                    <br></br><p>
                        <code>Q1</code>  Can I also get the raw file of orders? <br></br>
                        <code>A1</code> Yes! The output zip file contains all of the raw orders from each commerce services. You can use this data for marketing analysis program such as Google Analytics.<br></br><br></br>
                        <code>Q2</code> Is the data file's data stack on the server?<br></br>
                        <code>A2</code>  No, we don't gather any data information unless you order My Status service since the file contains personal information.<br></br><br></br>
                        <br></br>


                    </p>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
