<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Sales Manager - Getting Started</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Sales Manager</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="gettingstarted">Getting Started</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="run">Run</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="status">My Status</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="documentation">Documentation</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="faq">FAQ</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="contact">Contact Us</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <form action="/index">
                        <button class="btn btn-primary" id="sidebarToggle" href="/index">Main</button></form>


                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4">Getting Started</h1>
                    <p><br></p>
                    <p><span style="font-size: 18pt;"><b>1. What is ID Code?&nbsp;</b></span></p>
                    <p style="margin-left: 2em;"><span style="font-size: 13pt;">ID code refers to the distinct combination of the product. For example, Naver smart store offers option code, and 11st offers barcode. If there's another online commerce which doesn't offer ID code, then you should match it to a specific columns. </span></p>
                    <p style="margin-left: 2em;"><br></p>
                    <p><span style="font-size: 18pt;"><b>2.  Making gathered xlsx file&nbsp;   </b></span></p>
                    <p style="margin-left: 2em;"><span style="font-size: 13pt;"> When you download order excel from each commerce sites, you should copy and paste each excel file into one excel’s different sheets, where sheet's name is commerce's service name.(e.g Naver)</span></p>
                    
                    <p style="margin-left: 2em;"><br></p>
                    <p><b><span style="font-size: 12pt;">For more information, please read <a href="documentation" style="text-decoration:none;">documentation&nbsp;</a></span></b></p>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
