<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Sales Manager</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
         <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Sales Manager</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="gettingstarted">Getting Started</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="run">Run</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="status">My Status</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="documentation">Documentation</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="faq">FAQ</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="contact">Contact Us</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <form action="/index">
                        <button class="btn btn-primary" id="sidebarToggle" href="/index">Main</button></form>


                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4">Sales Manager</h1><br></br>
                    <p>Hi! This project to help manage cumbersome paperworks for your business by handling multiple channel-specific excel files across platforms.<br></br>
                        Our service supports excel files from <code> Naver SmartStore</code>, <code>Coupang</code>, <code>TicketMonster</code> and <code>Ohouse</code>.
                        <br></br>
                        Navigate through the menu bars on the left, or if you are familiar with our service, go directly to the <code><a href="run" style="text-decoration:none;">Run</a></code> menu.
                    </p>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
